<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Informatykierzy</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script src="jquery-3.2.1.min.js"></script>
    <script src="onClick.js"></script>
</head>

<body>
<div id="container">
    <div class="left">
        <div class="circles">
            <div class="circle">
                Podpowiedź
            </div>
            <div class="circle">
                Ekspertyza
            </div>
            <div class="circle">
                Pół na pół
            </div>
        </div>
        <div class="logo"><img src="logo.png" alt="logo"></div>

        <div class="qasection">
            <div class="question">Co oznacza skrót MBR, dotyczący urządzeń techniki komputerowej?</div>
            <div class="flex-anwser">
                <form>
                    <input type="submit" name="firstquestion" value="A: Główny rekord rozruchowy SO" class="first anwser" onclick="zmien_tlo()"> </form>
                <form>
                    <input type="submit" name="secondquestion" value="B: Fizyczny adres karty sieciowej" class="second anwser" > </form>
                <form>
                    <input type="submit" name="thirdquestion" value="C: Bloki pamięci górnej komputera IBM/PC" class="third anwser"> </form>
                <form>
                    <input type="submit" name="fourthquestion" value="D: Usługę związaną z tłumaczeniem nazw domeny" class="fourth anwser"> </form>
            </div></div>
    </div>
    <div class="amount">
        <li class="guaranteed">1 000 000 zł</li>
        <li>500 000 zł</li>
        <li>250 000 zł</li>
        <li>125 000 zł</li>
        <li>75 000 zł</li>
        <li class="guaranteed">40 000 zł</li>
        <li>20 000 zł</li>
        <li>10 000 zł</li>
        <li>5000 zł</li>
        <li>2000 zł</li>
        <li class="guaranteed">1000 zł</li>
        <li>500 zł</li>
    </div>
</div>

<script type="text/javascript">
    let circles = document.querySelectorAll('.circle');
    circles.forEach((circle) =>{
        circle.addEventListener('click', () =>{
            circle.animate([{
                background : "#482b7f",
                opacity: 1,
                color: "white"
            },
                {
                    background : "#ececec",
                    opacity: ".8",
                    color: "#482b7f"
                }
            ], {
                duration: 300,
                fill: "forwards"
            });
        });
    });
</script>
</body>

</html>